<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>movie app</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
   <div id="movieApp">
      <ul class="movList">
         <!--<li-->
               <!--class="movItem"-->
               <!--v-for="filmItem in movie"-->
               <!--@click="detailsTrigger"-->
         <!--&gt;-->
            <!--<p>{{ filmItem.name }} - {{ filmItem.year }}</p>-->
            <!--<div class="restDetails">-->
               <!--<p> Director : {{ filmItem.director }} </p>-->
               <!--<p > actor : <span v-for="actor in filmItem.actors">{{ actor }} , </span> </p>-->
               <!--<p> genre : {{ filmItem.genre }} </p>-->
               <!--<p> year : {{ filmItem.year }} </p>-->
               <!--<p> IMDb position : {{ filmItem.IMDb }} </p>-->
            <!--</div>-->

            <!--<img v-if="!showDetails" :src="filmItem.img" :alt="filmItem.name" :title="filmItem.name">-->
         <!--</li>-->
         <film-item
               v-for="filmItem in movie"
               :seefilm="filmItem"
               :key="filmItem.id"

         ></film-item>
      </ul>
   </div>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="movieApp.js"></script>
</body>
</html>